<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>CCTV Video Projector</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" href="/css/videoPreview.css">
    <link rel="stylesheet" href="/css/calibrationVideo.css">
</head>
<body>
<img th:src="@{'/api/v1/video/' + ${video.id} + '/calibration'}">
<form th:action="'/video/' + ${video.id} + '/calibration/save'" method="post">
    <div class="pointsHeader">
        <div th:text="#{video.calibration.screen}"></div>
        <div th:text="#{video.calibration.real}"></div>
    </div>
    <div th:each="i : ${#numbers.sequence(0, 5)}">
        <div class="points">
            <div class="pointsBody">
                <div class="pointsRow">
                    <div th:id="'screenPoint' + ${i}" class="screenPoint">
                        <div>(</div>
                        <input th:if="${video.calibrationPointList.size() >= i + 1}" type="text" th:name="'xScreen' + ${i}"
                               th:value="${video.calibrationPointList.get(i).getXScreen()}">
                        <input th:unless="${video.calibrationPointList.size() >= i + 1}" type="text" th:name="'xScreen' + ${i}">
                        <div>;</div>
                        <input th:if="${video.calibrationPointList.size() >= i + 1}" type="text" th:name="'yScreen' + ${i}"
                               th:value="${video.calibrationPointList.get(i).getYScreen()}">
                        <input th:unless="${video.calibrationPointList.size() >= i + 1}" type="text" th:name="'yScreen' + ${i}">
                        <div>)</div>
                    </div>

                    <div th:id="'worldPoint' + ${i}" class="worldPoint">
                        <div>(</div>
                        <input th:if="${video.calibrationPointList.size() >= i + 1}" type="text" th:name="'xWorld' + ${i}"
                               th:value="${video.calibrationPointList.get(i).getXWorld()}">
                        <input th:unless="${video.calibrationPointList.size() >= i + 1}" type="text" th:name="'xWorld' + ${i}">
                        <div>;</div>
                        <input th:if="${video.calibrationPointList.size() >= i + 1}" type="text" th:name="'yWorld' + ${i}"
                               th:value="${video.calibrationPointList.get(i).getYWorld()}">
                        <input th:unless="${video.calibrationPointList.size() >= i + 1}" type="text" th:name="'yWorld' + ${i}">
                        <div>;</div>
                        <input th:if="${video.calibrationPointList.size() >= i + 1}" type="text" th:name="'zWorld' + ${i}"
                               th:value="${video.calibrationPointList.get(i).getZWorld()}">
                        <input th:unless="${video.calibrationPointList.size() >= i + 1}" type="text" th:name="'zWorld' + ${i}">
                        <div>)</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button type="submit" th:text="#{video.calibration.save}"></button>
</form>
</body>
</html>