torchvision==0.11.1
opencv-python~=4.5.5.62
dlib==19.22.1
Pillow==9.0.1
pafy==0.5.5
youtube_dl==2020.12.2
ipython==7.29.0
torch==1.10.0
requests==2.22.0
typing==3.7.4
numpy==1.18.4
websockets==10.1
ffmpeg==1.4